.idea
.idea/*
.build/*
*.log
build/*
doc/*
**/bin/**
**/gen/**
.idea/
*.iml
.gradle/
build/
local.properties
.DS_store
Fitbit.apk
FitbitCodeStyle.jar
bin/
gen/
.settings/
.DS_Store
apt_generated/
*/lint/lint-results*
captures
ReleaseValues
*/lint
*.pyc
!quality/**
.project
